/* global.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #5c5da4;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-nav a:hover, .sidebar-nav a.active-link {
    background-color: #3e3fab;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Top Bar */
.top-bar {
    background-color: #5c5da4;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar-title {
    font-size: 1.5rem;
    margin: 0;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-icon {
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 1000;
}

.user-dropdown .dropdown-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    transition: background-color 0.3s ease;
}

.user-dropdown .dropdown-link:hover {
    background-color: #f0f0f0;
}

.logout-button {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #f0f0f0;
}

/* Page Content */
.page-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

h1.dark-mode {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #7f8c8d;
}

.button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 20px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

.button-primary {
    background-color: #3498db;
    color: white;
}

.button-secondary {
    background-color: #2ecc71;
    color: white;
}

.home-container {
    max-width: 600px;
    margin: auto;
}

.dashboard-container {
    padding: 40px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.profile-container, .settings-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: var(--background-color, white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container.dark-mode, .settings-container.dark-mode {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: var(--background-color, black);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.toggle-container.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #ffffff;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  transform: translateX(26px);
}